body {
    background-image: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/23/Wrestlemania34.jpeg/220px-Wrestlemania34.jpeg);
    align-content: center;
}

.container {
    background-color: gold;
    align-content: center;
    border-style: solid;
}

h1 {
    text-align: center;
    color: black;
}